In [1]:
import pandas as pd

In [2]:
from functions import read_data, clean_data, clean_table3, drop_columns1, drop_columns2, drop_columns3

In [3]:
url1 = r"data/mental_health_and_technology_usage_2024.csv"
df1 = read_data(url1)  #lee el archivo csv
df1 = clean_data(df1)  #cambia los nombres de las columnas a minusculas y reemplaza espacios en blancos por_
df1 = drop_columns1(df1)
df1.head()

,user_id,age,gender,social_media_usage_hours,mental_health_status,stress_level,sleep_hours,physical_activity_hours
0,USER-00001,23,Female,6.00,Good,Low,8.01,6.71
1,USER-00002,21,Male,2.57,Poor,High,7.28,5.88
2,USER-00003,51,Male,6.14,Fair,High,8.04,9.81
3,USER-00004,25,Female,4.48,Excellent,Medium,5.62,5.28
4,USER-00005,53,Male,0.56,Good,Low,5.55,4.00

In [4]:
url2 = r"data/dummy_data.csv"
df2 = read_data(url2)
df2 = clean_data(df2)
df2 = df2.rename(columns = {"time_spent": "social_media_usage_hours"})
df2 = drop_columns2(df2)
df2.head()

,age,gender,social_media_usage_hours,platform,location,demographics
0,56,male,3,Instagram,United Kingdom,Urban
1,46,female,2,Facebook,United Kingdom,Urban
2,32,male,8,Instagram,Australia,Sub_Urban
3,60,non-binary,5,Instagram,United Kingdom,Urban
4,25,male,1,Instagram,Australia,Urban

In [5]:
url3 = r"data/smmh.csv"
df3 = read_data(url3)
df3 = clean_data(df3)

df3 = clean_table3(df3) 

df3.head()

,timestamp,age,gender,relationship_status,4._occupation_status,5._what_type_of_organizations_are_you_affiliated_with?,6._do_you_use_social_media?,platform,social_media_usage_hours,9._how_often_do_you_find_yourself_using_social_media_without_a_specific_purpose?,...,11._do_you_feel_restless_if_you_haven't_used_social_media_in_a_while?,"12._on_a_scale_of_1_to_5,_how_easily_distracted_are_you?","13._on_a_scale_of_1_to_5,_how_much_are_you_bothered_by_worries?",14._do_you_find_it_difficult_to_concentrate_on_things?,"15._on_a_scale_of_1-5,_how_often_do_you_compare_yourself_to_other_successful_people_through_the_use_of_social_media?","16._following_the_previous_question,_how_do_you_feel_about_these_comparisons,_generally_speaking?",17._how_often_do_you_look_to_seek_validation_from_features_of_social_media?,depressed_feelings(1-5),"19._on_a_scale_of_1_to_5,_how_frequently_does_your_interest_in_daily_activities_fluctuate?",sleep_problems(1-5)
0,4/18/2022 19:18:47,21.0,Male,In a relationship,University Student,University,Yes,"Facebook, Twitter, Instagram, YouTube, Discord...",Between 2 and 3 hours,5,...,2,5,2,5,2,3,2,5,4,5
1,4/18/2022 19:19:28,21.0,Female,Single,University Student,University,Yes,"Facebook, Twitter, Instagram, YouTube, Discord...",More than 5 hours,4,...,2,4,5,4,5,1,1,5,4,5
2,4/18/2022 19:25:59,21.0,Female,Single,University Student,University,Yes,"Facebook, Instagram, YouTube, Pinterest",Between 3 and 4 hours,3,...,1,2,5,4,3,3,1,4,2,5
3,4/18/2022 19:29:43,21.0,Female,Single,University Student,University,Yes,"Facebook, Instagram",More than 5 hours,4,...,1,3,5,3,5,1,2,4,3,2
4,4/18/2022 19:33:31,21.0,Female,Single,University Student,University,Yes,"Facebook, Instagram, YouTube",Between 2 and 3 hours,3,...,4,4,5,5,3,3,3,4,4,1

In [6]:
pd.set_option('display.max_columns', None)  #mostrar todos los nombres

In [7]:
drop_columns3(df3)
df3

,age,gender,relationship_status,platform,social_media_usage_hours,depressed_feelings(1-5),sleep_problems(1-5)
0,21.0,Male,In a relationship,"Facebook, Twitter, Instagram, YouTube, Discord...",Between 2 and 3 hours,5,5
1,21.0,Female,Single,"Facebook, Twitter, Instagram, YouTube, Discord...",More than 5 hours,5,5
2,21.0,Female,Single,"Facebook, Instagram, YouTube, Pinterest",Between 3 and 4 hours,4,5
3,21.0,Female,Single,"Facebook, Instagram",More than 5 hours,4,2
4,21.0,Female,Single,"Facebook, Instagram, YouTube",Between 2 and 3 hours,4,1
...,...,...,...,...,...,...,...
476,24.0,Male,Single,"Facebook, Instagram, YouTube",Between 2 and 3 hours,3,4
477,26.0,Female,Married,"Facebook, YouTube",Between 1 and 2 hours,4,1
478,29.0,Female,Married,"Facebook, YouTube",Between 2 and 3 hours,2,2
479,21.0,Male,Single,"Facebook, Twitter, Instagram, YouTube, Discord...",Between 2 and 3 hours,4,4
480,53.0,Male,Married,"Facebook, YouTube",Less than an Hour,2,3