In [1]:
import pandas as pd

In [2]:
from functions import read_data, clean_data, clean_table3, drop_columns1, drop_columns2, drop_columns3, change_gender, change_other, change_value, merge_tables

In [5]:
url1 = r"data/mental_health_and_technology_usage_2024.csv"
df1 = read_data(url1)  #lee el archivo csv
df1 = clean_data(df1)  #cambia los nombres de las columnas a minusculas y reemplaza espacios en blancos por_
df1 = change_other(df1)
df1 = drop_columns1(df1)
df1 = change_value(df1) # male, female..
df1.head()

,age,gender,social_media_usage_hours,mental_health_status,stress_level,sleep_hours,physical_activity_hours
0,23,F,6.00,Good,Low,8.01,6.71
1,21,M,2.57,Poor,High,7.28,5.88
2,51,M,6.14,Fair,High,8.04,9.81
3,25,F,4.48,Excellent,Medium,5.62,5.28
4,53,M,0.56,Good,Low,5.55,4.00

In [6]:
valores_unicos = df1['gender'].unique()
valores_unicos

array(['F', 'M'], dtype=object)

In [9]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   age                       10000 non-null  int64
 1   gender                    6636 non-null   object
 2   social_media_usage_hours  10000 non-null  float64
 3   mental_health_status      10000 non-null  object
 4   stress_level              10000 non-null  object
 5   sleep_hours               10000 non-null  float64
 6   physical_activity_hours   10000 non-null  float64
dtypes: float64(3), int64(1), object(3)
memory usage: 547.0+ KB

In [19]:
grupo = df1.groupby(["age", "gender"])["social_media_usage_hours"].mean()
grupo

age  gender
18   F         3.818533
     M         4.538358
19   F         4.039038
     M         3.793968
20   F         3.927759
                 ...
63   M         4.225857
64   F         4.054444
     M         3.946129
65   F         3.848611
     M         4.020750
Name: social_media_usage_hours, Length: 96, dtype: float64

In [37]:
condicion = (df1["age"] >= 18) & (df1["age"] <= 25)
nuevo = df1[condicion]
nuevo

,age,gender,social_media_usage_hours,mental_health_status,stress_level,sleep_hours,physical_activity_hours
0,23,F,6.00,Good,Low,8.01,6.71
1,21,M,2.57,Poor,High,7.28,5.88
3,25,F,4.48,Excellent,Medium,5.62,5.28
13,24,NaN,5.22,Excellent,High,4.82,7.15
26,23,M,0.06,Poor,Medium,5.33,6.55
...,...,...,...,...,...,...,...
9983,19,F,3.37,Good,Low,5.24,9.54
9987,19,F,1.45,Good,High,8.38,9.00
9989,24,NaN,7.05,Good,Low,6.97,0.20
9993,22,F,5.42,Good,High,5.98,2.08
9997,23,M,3.98,Poor,High,7.59,2.99

In [4]:
url2 = r"data/dummy_data.csv"
df2 = read_data(url2)
df2 = clean_data(df2)
df2 = df2.rename(columns = {"time_spent": "social_media_usage_hours"})
df2 = drop_columns2(df2)
df2 = change_gender(df2)
df2 = change_value(df2)
df2 = df2.astype({'social_media_usage_hours': 'float'})

df2.head()

,age,gender,social_media_usage_hours,platform,location,demographics
0,56,M,3.0,Instagram,United Kingdom,Urban
1,46,F,2.0,Facebook,United Kingdom,Urban
2,32,M,8.0,Instagram,Australia,Sub_Urban
4,25,M,1.0,Instagram,Australia,Urban
5,38,M,3.0,Facebook,United States,Urban

In [44]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 668 entries, 0 to 999
Data columns (total 6 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   age                       668 non-null    int64
 1   gender                    668 non-null    object
 2   social_media_usage_hours  668 non-null    float64
 3   platform                  668 non-null    object
 4   location                  668 non-null    object
 5   demographics              668 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 36.5+ KB

In [21]:
grupo2 = df2.groupby(["age", "gender"])["social_media_usage_hours"].mean()
grupo2

age  gender
18   F         6.300000
     M         4.600000
19   F         5.888889
     M         6.800000
20   F         6.000000
                 ...
62   M         5.636364
63   F         5.666667
     M         3.000000
64   F         4.857143
     M         4.777778
Name: social_media_usage_hours, Length: 94, dtype: float64

In [23]:
url3 = r"data/smmh.csv"
df3 = read_data(url3)
df3 = clean_data(df3)
df3 = clean_table3(df3) 
drop_columns3(df3)
df3 = df3.astype({'age': 'int64'})
df3 = change_value(df3)
df3

,age,gender,relationship_status,platform,social_media_usage_hours,depressed_feelings(1-5),sleep_problems(1-5)
0,21,M,In a relationship,"Facebook, Twitter, Instagram, YouTube, Discord...",Between 2 and 3 hours,5,5
1,21,F,Single,"Facebook, Twitter, Instagram, YouTube, Discord...",More than 5 hours,5,5
2,21,F,Single,"Facebook, Instagram, YouTube, Pinterest",Between 3 and 4 hours,4,5
3,21,F,Single,"Facebook, Instagram",More than 5 hours,4,2
4,21,F,Single,"Facebook, Instagram, YouTube",Between 2 and 3 hours,4,1
...,...,...,...,...,...,...,...
476,24,M,Single,"Facebook, Instagram, YouTube",Between 2 and 3 hours,3,4
477,26,F,Married,"Facebook, YouTube",Between 1 and 2 hours,4,1
478,29,F,Married,"Facebook, YouTube",Between 2 and 3 hours,2,2
479,21,M,Single,"Facebook, Twitter, Instagram, YouTube, Discord...",Between 2 and 3 hours,4,4
480,53,M,Married,"Facebook, YouTube",Less than an Hour,2,3

In [45]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 481 entries, 0 to 480
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   age                       481 non-null    int64
 1   gender                    474 non-null    object
 2   relationship_status       481 non-null    object
 3   platform                  481 non-null    object
 4   social_media_usage_hours  481 non-null    object
 5   depressed_feelings(1-5)   481 non-null    int64
 6   sleep_problems(1-5)       481 non-null    int64
dtypes: int64(3), object(4)
memory usage: 26.4+ KB

In [26]:
grupo3 = df3.groupby(["age", "gender"])
grupo3.size()

age  gender
13   M         2
14   F         1
     M         3
15   F         1
     M         1
              ..
56   F         1
     M         1
60   M         1
65   M         1
91   F         1
Length: 71, dtype: int64

In [6]:
pd.set_option('display.max_columns', None)  #mostrar todos los nombres

In [7]:
nuevo = merge_tables(df1, df2)
nuevo

,age,gender,social_media_usage_hours,mental_health_status,stress_level,sleep_hours,physical_activity_hours,platform,location,demographics
0,23,F,6.0,Good,Low,8.01,6.71,Instagram,United States,Rural
1,23,F,6.0,Good,Low,8.01,6.71,Facebook,Australia,Urban
2,36,F,5.0,Poor,Medium,6.72,5.60,YouTube,United Kingdom,Urban
3,63,F,3.0,Excellent,Low,4.69,6.40,Facebook,United Kingdom,Sub_Urban
4,47,M,5.0,Fair,Medium,4.43,5.09,YouTube,Australia,Rural
5,50,F,6.0,Poor,Medium,5.74,9.75,Instagram,Australia,Urban
6,33,M,2.0,Fair,Low,7.76,4.88,YouTube,United Kingdom,Rural
7,33,M,2.0,Fair,Low,7.76,4.88,YouTube,United Kingdom,Urban
8,50,F,6.0,Good,Low,5.94,4.37,Instagram,Australia,Urban
9,38,M,3.0,Fair,Medium,5.23,1.41,Facebook,United States,Urban
10,38,F,5.0,Good,High,6.08,0.96,YouTube,United States,Sub_Urban
11,45,M,8.0,Excellent,High,7.67,7.82,Facebook,United States,Rural
12,45,M,8.0,Excellent,High,7.67,7.82,Instagram,United States,Urban
13,45,F,6.0,Poor,Low,7.15,8.10,Facebook,United Kingdom,Rural
14,39,F,2.0,Poor,High,7.11,4.75,Facebook,United Kingdom,Urban
15,21,F,2.0,Poor,Low,6.57,4.87,YouTube,United States,Urban
16,64,F,1.0,Good,High,6.55,5.06,YouTube,United States,Rural
17,31,F,1.0,Fair,Low,6.85,4.66,YouTube,United States,Urban
18,22,F,5.0,Excellent,High,8.44,3.54,Facebook,United States,Rural
19,22,F,5.0,Excellent,High,8.44,3.54,Instagram,United States,Sub_Urban
20,28,M,1.0,Fair,Low,4.86,0.39,Instagram,United States,Sub_Urban
21,28,M,1.0,Fair,Low,4.86,0.39,Instagram,United States,Rural
22,36,M,3.0,Excellent,Low,5.31,5.96,YouTube,United States,Sub_Urban
23,63,M,4.0,Fair,High,4.90,1.45,Facebook,Australia,Urban
24,56,M,1.0,Poor,High,8.48,1.93,YouTube,United Kingdom,Urban
25,52,M,2.0,Poor,High,8.23,2.63,Facebook,United Kingdom,Rural
26,48,M,7.0,Fair,Low,6.77,6.21,YouTube,United States,Rural
27,56,F,2.0,Fair,Medium,5.34,6.40,Instagram,United States,Urban
28,56,F,2.0,Fair,Medium,5.34,6.40,Facebook,Australia,Sub_Urban
29,30,F,4.0,Poor,Low,8.99,6.81,Instagram,United States,Urban
30,30,F,4.0,Poor,Low,8.99,6.81,YouTube,United Kingdom,Sub_Urban
31,30,F,4.0,Poor,Low,8.99,6.81,Instagram,Australia,Sub_Urban
32,46,F,2.0,Excellent,Low,6.00,4.70,Facebook,United Kingdom,Urban
33,46,F,2.0,Excellent,Low,6.00,4.70,Instagram,United States,Urban
34,36,M,4.0,Good,High,6.67,5.59,Instagram,Australia,Urban
35,22,M,2.0,Good,High,8.32,8.04,Facebook,United States,Sub_Urban
36,34,M,2.0,Fair,High,5.85,3.41,Facebook,United States,Sub_Urban
37,31,M,2.0,Excellent,Low,5.62,5.28,Facebook,Australia,Sub_Urban
38,31,M,2.0,Excellent,Low,5.62,5.28,Instagram,United Kingdom,Rural
39,40,M,2.0,Good,High,7.66,1.25,Facebook,United Kingdom,Rural
40,40,M,2.0,Good,High,7.66,1.25,Facebook,United Kingdom,Urban
41,39,F,7.0,Poor,Medium,5.18,3.36,Instagram,United States,Rural
42,39,F,7.0,Poor,Medium,5.18,3.36,YouTube,United Kingdom,Rural
43,33,M,2.0,Good,High,8.38,2.16,YouTube,United Kingdom,Rural
44,33,M,2.0,Good,High,8.38,2.16,YouTube,United Kingdom,Urban
45,53,M,4.0,Fair,High,6.70,1.87,YouTube,Australia,Rural
46,53,M,4.0,Fair,High,6.70,1.87,Facebook,United Kingdom,Sub_Urban
47,29,M,1.0,Poor,Low,6.67,5.80,YouTube,United States,Sub_Urban
48,29,M,1.0,Poor,Low,6.67,5.80,Facebook,United Kingdom,Sub_Urban

In [8]:
df1[['age', 'gender']].value_counts()

age  gender
45   M         92
23   M         84
59   M         82
21   M         81
62   M         81
               ..
28   F         57
39   F         57
60   M         54
19   F         52
48   M         46
Name: count, Length: 96, dtype: int64

In [9]:
df2[['age', 'gender']].value_counts()

age  gender
43   M         16
54   M         14
40   M         13
45   M         13
62   M         11
               ..
44   M          4
26   F          3
24   F          3
60   M          3
51   M          1
Name: count, Length: 94, dtype: int64